__pycache__
apis/__pycache__
downloaders/__pycache__
web_ui/__pycache__
docker/run_recommand_auto.sh
docker/.env
roadmap.md

# Local development
run_local.sh
temp_downloads/
music/
logs/
.streamrip_config.toml
debug.log
deezer_api_debug.log
playlist_history.txt
.tempfolder/
