name: Docker Build and Publish

on:
  workflow_dispatch: # Enables a manual trigger from GitHub Actions UI
  release:
    types:
      - published # Automatically triggers on releases

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
          ${{ runner.os }}-
          buildx-

    - name: Build and push the Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/re-command:latest
          ghcr.io/${{ github.repository_owner }}/re-command:${{ github.event.release.tag_name  || 'manual' }}